@model Lunch.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.menu_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.menu_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.second)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.second)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.drink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.drink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
