@model IEnumerable<Lunch.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.menu_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.second)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.drink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.menu_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.second)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place.id)
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
