@model Place

<div class="col-lg-4">
    <img class="img-thumbnail " src="@Model.img" alt="@Model.place_name" width="200px" />
    <h2>@Model.place_name</h2>
    <p>@Model.short_desc</p>
    <p>Средний счет: @Model.av_price</p>
    <p>Адрес: @Model.address</p>
    <p>Номер телефона: @Model.phone</p>

    <p><a class="btn btn-primary" asp-controller="Places" asp-action="addToFav" asp-route-id="@Model.id">Добавить в любимые</a></p>
    <div style="margin-bottom:20px">
        <a asp-action="Details" asp-controller="Places" asp-route-id="@Model.id">Подробнее</a>
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Edit" asp-controller="Places" asp-route-id="@Model.id">Изменить</a>
            <a asp-action="Delete" asp-controller="Places" asp-route-id="@Model.id">Удалить</a>
        }

    </div>

</div>


